<div class="p-8 bg-black flex flex-col gap-8
outline outline-1 outline-[rgb(50,50,50)] border border-1 border-[rgb(50,50,50)]">
    <p class="font-bold text-sm text-[rgb(50,50,50)]">
        <a href="https://theluqmn.com" target="_self"class="text-[rgb(200,200,200)] hover:text-[rgb(0,157,255)] duration-300">Portfolio</a> | 
        <a href="https://blog.theluqmn.com" target="_self" class="text-white hover:text-[rgb(0,157,255)] duration-300">Blog</a>
    </p>
    <h1 class="text-2xl font-bold text-[rgb(0,157,255)]">Welcome to My Blog</h1>
    <p class="text-sm text-[rgb(200,200,200)]">
        A warm welcome to Luqman’s blog, where I share things I would like to say that deserves to be in the internet. Consists of posts related to coding,
        research, semiconductor, my classes, some wisdom, and my personal journal.
    </p>
    <p class="text-sm text[rgb(200,200,200)]">
        If you aspire to be the entrepreneurs, leaders and game changers of tomorrow, my weekly newsletter [The Revelations](https://revelations.my) is built to equip you!
    </p>
</div>