<footer class="w-full h-full md:w-7/12 mx-auto">
    <div class="p-8 bg-black flex flex-col gap-8
    outline outline-1 outline-[rgb(50,50,50)] border border-1 border-[rgb(50,50,50)]">
        <p class="text-sm text-[rgb(200,200,200)]">
            Designed and developed by Luqman in 2025. Proudly made in Malaysia.
        </p>
        <p class="font-bold text-sm text-[rgb(50,50,50)]">
            <a href="https://github.com/theluqmn/blog" target="_blank" class="text-[rgb(200,200,200)] hover:text-[rgb(0,157,255)] duration-300">GitHub Repository</a> | 
            <a href="" target="_blank" class="text-[rgb(200,200,200)] hover:text-[rgb(0,157,255)] duration-300">How this is made</a>
        </p>
    </div>
</footer>