<header class="flex flex-col md:w-7/12 mx-auto">
    <div class="pl-8 p-2 bg-[rgb(20,20,20)] flex flex-row items-center gap-2
    outline outline-1 outline-[rgb(50,50,50)] border border-1 border-[rgb(50,50,50)]">
        <img src="../assets/theluqmn.png" class="w-16 h-16">
        <div class="font-bold flex flex-col">
            <p class="text-lg text-[rgb(0,157,255)]">Luqman</p>
            <p class="text-base text-[rgb(150,150,150)]">theluqmn.com</p>
        </div>
    </div>
    <div class="pl-8 p-2 bg-black
    outline outline-1 outline-[rgb(50,50,50)] border border-1 border-[rgb(50,50,50)]">
        <p class="font-bold text-base text-[rgb(50,50,50)]">
            <a href="https://x.com/theluqmn" target="_blank"class="text-[rgb(200,200,200)] hover:text-white duration-300">X</a> | 
            <a href="https://instagram.com/theluqmn" target="_blank" class="text-[rgb(200,200,200)] hover:text-white duration-300">Instagram</a> | 
            <a href="https://github.com/theluqmn" target="_blank" class="text-[rgb(200,200,200)] hover:text-white duration-300">GitHub</a>
        </p>
    </div>
</header>