<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>index - theluqmn.com/blog</title>

        <!--Open Graph-->
        <meta property="og:title" content="index - blog.theluqmn.com" />
        <meta property="og:description" content="a blog where i share what deserves to be in the internet" />

        <!--Tailwind CSS-->
        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            tailwind.config = {
                theme: {
                    extend: {}
                }
            }
        </script>
    </head>

    <body class="bg-[rgb(5,5,5)]">
        <main class="p-4 md:p-8 w-full h-full md:w-7/12 mx-auto">
            <div class="
            space-y-3
            text-sm text-[rgb(220,220,220)]
            [&_h1]:text-3xl [&_h1]:text-[rgb(0,157,255)]
            [&_h2]:text-xl [&_h2]:pt-8 [&_h2]:font-semibold [&_h2]:text-[rgb(0,157,255)]
            [&_h3]:text-lg [&_h3]:pt-4 [&_h3]:font-semibold [&_h3]:text-[rgb(255,255,255)]
            [&_a]:font-semibold [&_a]:underline
            [&_img]:w-full [&_img]:rounded-md
            ">
                {{ content }}
            </div>
        </main>
    </body>
</html>