<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Luqman - theluqmn.com</title>
        <link rel="icon" href="https://theluqmn.com/assets/theluqmn.png" type="image/x-icon" />

        <!-- open graph -->
        <meta property="og:title" content="Home - Luqman's blog" />
        <meta property="og:description" content="A warm welcome to Luqman's blog." />

        <!-- IBM Plex Mono font -->
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap" rel="stylesheet" />

        <!-- tailwind css -->
        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            tailwind.config = {
                theme: {
                    extend: { fontFamily: { mono: ['"IBM Plex Mono"', 'monospace'] }}
                }
            }
        </script>

        <!-- highlight style -->
        <style>
            ::selection { background-color: rgb(0,157,255); color: white; }
            ::-moz-selection { background-color: rgb(20,20,20); color: rgb(200,200,200); }
        </style>
    </head>

    <body class="font-mono bg-black w-full h-full">
        <!-- header -->
        <header class="flex flex-col md:w-7/12 mx-auto">
            <div class="pl-8 p-2 bg-[rgb(20,20,20)] flex flex-row items-center gap-2
            outline outline-1 outline-[rgb(50,50,50)] border border-1 border-[rgb(50,50,50)]">
                <img src="../assets/theluqmn.png" class="w-16 h-16">
                <div class="font-bold flex flex-col">
                    <p class="text-lg text-[rgb(0,157,255)]">Luqman</p>
                    <p class="text-base text-[rgb(150,150,150)]">theluqmn.com</p>
                </div>
            </div>
            <div class="pl-8 p-2 bg-black
            outline outline-1 outline-[rgb(50,50,50)] border border-1 border-[rgb(50,50,50)]">
                <p class="font-bold text-base text-[rgb(50,50,50)]">
                    <a href="https://x.com/theluqmn" target="_blank"class="text-[rgb(200,200,200)] hover:text-white duration-300">X</a> | 
                    <a href="https://instagram.com/theluqmn" target="_blank" class="text-[rgb(200,200,200)] hover:text-white duration-300">Instagram</a> | 
                    <a href="https://github.com/theluqmn" target="_blank" class="text-[rgb(200,200,200)] hover:text-white duration-300">GitHub</a>
                </p>
            </div>
        </header>

        <!-- main contents -->
        <main class="w-full h-full md:w-7/12 mx-auto">
            <!-- about -->
            <div class="p-8 bg-black flex flex-col gap-8
            outline outline-1 outline-[rgb(50,50,50)] border border-1 border-[rgb(50,50,50)]">
                <p class="font-bold text-sm text-[rgb(50,50,50)]">
                    <a href="https://theluqmn.com" target="_self"class="text-white hover:text-[rgb(0,157,255)] duration-300">Portfolio</a> | 
                    <a href="https://blog.theluqmn.com" target="_self" class="text-[rgb(200,200,200)] hover:text-[rgb(0,157,255)] duration-300">Blog</a>
                </p>
                <h1 class="text-2xl font-bold text-[rgb(0,157,255)]">Welcome to My Blog</h1>
                <p class="text-sm text-[rgb(200,200,200)]">
                    A warm welcome to Luqman’s blog, where I share things I would like to say that deserves to be in the internet. Consists of posts related to coding,
                    research, semiconductor, my classes, some wisdom, and my personal journal.
                </p>
            </div>

            <!-- contents -->
            <div class="p-8 bg-black flex flex-col gap-8
            outline outline-1 outline-[rgb(50,50,50)] border border-1 border-[rgb(50,50,50)]">
                <p class="font-bold text-base text-[rgb(50,50,50)]">
                    <a href="https://blog.theluqmn.com/" target="_blank"class="text-white hover:text-white duration-300">All</a> | 
                </p>

                <div class="
                text-sm text-[rgb(200,200,200)]
                [&_h2]:text-base [&_h2]:pt-8 [&_h2]:font-bold [&_h2]:text-[rgb(200,200,200)]
                [&_h3]:text-lg [&_h3]:font-bold [&_h3]:text-white
                [&_a]:underline [&_a]:hover:text-[rgb(0,157,255)]
                duration-300
                ">
                    {{ content }}
                </div>
            </div>
        </main>
        
        <footer class="w-full h-full md:w-7/12 mx-auto">
            <div class="p-8 bg-black flex flex-col gap-8
            outline outline-1 outline-[rgb(50,50,50)] border border-1 border-[rgb(50,50,50)]">
                <p class="text-sm text-[rgb(200,200,200)]">
                    Designed and developed by Luqman in 2025. Proudly made in Malaysia.
                </p>
                <p class="font-bold text-sm text-[rgb(50,50,50)]">
                    <a href="https://github.com/theluqmn/theluqmn.github.io" target="_blank" class="text-[rgb(200,200,200)] hover:text-[rgb(0,157,255)] duration-300">GitHub Repository</a> | 
                    <a href="" target="_blank" class="text-[rgb(200,200,200)] hover:text-[rgb(0,157,255)] duration-300">How this is made</a>
                </p>
            </div>
        </footer>
    </body>
</html>