<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page.title }} - blog.theluqmn.com</title>

        <!--open graph-->
        <meta property="og:title" content="{{ page.title }} - blog.theluqmn.com" />
        <meta property="og:description" content= "{{ post.excerpt }}"/>

        <!--tailwind css-->
        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            tailwind.config = {
                theme: {
                    extend: {}
                }
            }
        </script>
    </head>

    <body class="bg-[rgb(5,5,5)]">
        <main class="p-4 md:p-8 w-full h-full flex flex-col gap-16 md:w-7/12 mx-auto">
            <!--navbar-->
            <div class="p-4 w-full flex flex-row justify-between bg-whiterounded-md outline outline-2 outline-white">
                <p class="text-[rgb(0,0,0)] text-lg text-bold">blog.theluqmn.com</h1>
                    
                <div class="flex flex-row gap-12">
                    <a class="p-2 text-black bg-[rgb(0,157,255)] rounded-md outline outline-2 outline-black" href="https://blog.theluqmn.com/">home</a>
                    <a class="p-2 text-black bg-[rgb(0,157,255)] rounded-md outline outline-2 outline-black" href="https://theluqmn.com">portfolio</a>
                </div>
            </div>

            <!--header-->
            <div class="p-4 flex flex-col gap-4 items-start">
                <h1 class="text-3xl text-[rgb(0,157,255)] font-bold">
                    {{ page.title }}
                </h1>

                <p class="text-sm text-[rgb(220,220,220)] font-bold">
                    {{ page.date | date: "%d %B %Y" }}
                </p>
            </div>

            <!--content-->
            <div class="
            p-4
            space-y-3
            text-sm text-[rgb(220,220,220)]
            [&_h1]:text-3xl [&_h1]:pt-12 [&_h1]:font_bold [&_h1]:text-[rgb(0,157,255)]
            [&_h2]:text-xl [&_h2]:pt-8 [&_h2]:font-semibold [&_h2]:text-[rgb(255,255,255)]
            [&_h3]:text-lg [&_h3]:pt-4 [&_h3]:font-semibold [&_h3]:text-[rgb(255,255,255)]
            [&_a]:font-semibold [&_a]:underline
            [&_img]:w-7/12 [&_img]:rounded-md [&_img]:outline [&_img]:outline-2 [&_img]:outline-white
            ">
                {{ content }}
            </div>
        </main>
    </body>
</html>